BOT_TOKEN=your_token_here

# Yandex Object Storage
S3_BUCKET=your_bucket_name
S3_ACCESS_KEY_ID=your_access_key_id
S3_SECRET_ACCESS_KEY=your_secret_access_key
S3_ENDPOINT=https://storage.yandexcloud.net
S3_REGION=ru-central1